{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    {% for post in posts %}
    <a href="/post/{{post.id}}/"><img src="{{post.image1}}" alt="" width="100%" height="600"></a>
    <div class="container">
        <div class="row  mt-2">
            <div class="col-md-2">
                <a href="{{post.link}}" target="_blank" class="btn btn-outline-warning">Visit Site</a>
            </div>
            {% for vote in votes %}
            <div class="col-md-2">
                <p>DESIGN</p>
                <p>{{vote.design}}/10</p>
            </div>
            <div class="col-md-2">
                <p>USABILITY</p>
                <p>{{vote.design}}/10</p>
            </div>
            <div class="col-md-2">
                <p>CREATIVITY</p>
                <p>{{vote.design}}/10</p>
            </div>
            <div class="col-md-2">
                <p>CONTENT</p>
                <p>{{vote.design}}/10</p>
            </div>
            {% endfor %}
        </div>
        
    </div>
    {% endfor %}

{% endblock %}