{% extends 'common/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            {% if profiles.dp %}
            <img src="{{ profile.dp }}" alt="profile image" class="rounded-circle profiles-img">
            {% else %}
            <img src="{% static 'images/User.webp' %}" alt="" height="200">
            {% endif %}
        </div>
        <div class="col-md-5">
            <div class="content-section">
                <div class="media" style="display: flex; ">
                    <div class="media-body" style="margin-left:40px; margin-top:45px">
                        <h5 class="text-secondary">Username: {{ request.user.username }}</h5>
                        <h5 class="text-secondary"> Email: {{ user.email }}</h5>
                        <h5 class="text-secondary ">Bio: {{ user.profile.bio }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <legend class="border-bottom my-4" style="font-style: italic; font-weight:bold; font-size: 30px;">
                    Profile Info
                </legend>
                {% bootstrap_form u_form%}
                {% bootstrap_form p_form%}
                <div class="form-group mb-5">
                    <button class="btn btn-outline-success" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for message in messages %}
{{message}}
{% endfor %}
{% endblock %}